modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18721
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MONGO_URI = "mongodb+srv://konosubacommunity1:kono%2Esuba001@cluster-kono.41yglcv.mongodb.net/?appName=Cluster-kono"
JWT_SECRET = "cceced3645908407f693e0da18bba6bb470988fb8d77a06981e02ddc9fd509badd3db9dbe1dc82d63cacb918479abf1e"
BOT_API_URL = ""
